.detalii-cont{
    width: 90%;
    margin: 30px auto;
    height: 800px;
    box-shadow: 0 0 5px 1px rgb(39, 176, 255);
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.cont-optiuni{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(39, 176, 255);
    height: 800px;
}
.optiuni {
    padding: 0;
    height: 100%;
}
.optiuni li{
    font-size: 20px;
    margin: 0px 0;
    padding: 40px 50px;
    box-shadow: 0 0 1px lightgrey;
}
.optiuni li:hover{
    color:white !important;
    background-color: rgb(39, 176, 255);
    transition:background 250ms ease;
    font-size: 20px;
    margin: 0px 0;
    padding: 40px 50px;
    box-shadow: 0 0 1px lightgrey;
}
.optiune-cont{
    padding: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.optiune-cont p{
    font-size: 20px;
    margin-bottom: 25px;
}
.optiune-cont li{
    font-size: 20px;
    margin:5px;
}
.optiune-cont ul{
    margin-bottom: 25px;
}
.optiune-cont h1{
    font-size: 26px;
}
#opt-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.done-j{
    position: relative;
    top:40px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.done-j h1{
    font-size: 26px;
}
.projects li:hover{
    color:aqua;
}
.integ{
    font-size: 50px;
    cursor: pointer;
}