#intI{
    position: absolute;
    left:300px;
    top:150px;
    z-index: 100;
    background-color: rgb(39, 176, 255);
    height: 800px;
    width: 1300px;
    border-radius: 10px;
    overflow: hidden;
}
#int-close{
    color:white;
    position: absolute;
    top:20px;
    right:20px;
    font-size: 50px;
    cursor: pointer;
}
#sabs{
    color:white;
    position: absolute;
    left:40px;
}