#navigatie h1{
    font-size: 25px;
}


#user-container{
    position: absolute;
    top:0;
    right:8%;
    padding: 20px 35px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: background 500ms ease;
}
#user-container:hover{
    grid-template-rows: 1fr 3fr;
    background-color: #1B1A17;
    border-radius: 0 0 5px 5px;
    height:400px;
}
#user-container:hover #user-options{
    display: block;

}

.user-icon{
    cursor:pointer;
    color: ghostwhite;
    font-size: 36px; 
    position: relative;
    top:2px;
}
.user-icon:hover{
    color: rgb(39, 176, 255) !important;
}
.user-name{
    color: white;
    font-size: 25px;
    margin:0px 20px 0 0;
}
.user-name-icon{
    width:100%;
    display: flex;
    cursor: pointer;
}
.user-name-icon:hover > .user-name{
    color: rgb(39, 176, 255);

}
.user-name-icon:hover > .user-icon{
    color: rgb(39, 176, 255);
}
#logout{
    color:crimson;
    font-weight: 500;
    display: flex;
}
#logout:hover{
    color:red !important;
}

#user-options{
    margin-top: 30px;
    color:white;
    font-size: 20px;
    display: none;
    margin-top: 35px;

} 
#user-options p{
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    transition: color 250ms ease;
}
#user-options p:hover{
    color:rgb(39, 176, 255);
}

  #navigatie{
      --transparent:black;
      box-sizing: border-box;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1% 5%;
      height: fit-content;
      background-color: var(--transparent);
      transition: background 250ms ease-in;
  }
  #logo_sigla{
      display: flex;
      align-items: center;
      transition: background 500ms ease;
    }
    #navigatie h1:hover{
        color:rgb(39, 176, 255);
    }
  #logo_sigla h1{
      font-size: 25px;
      color:white;
  }
  #logo_sigla img{
      height: 65px;
      position: relative;
      bottom:5px;
  }
  #sign{
      border: 1px solid rgb(39, 176, 255);
      border-radius: 5px;
      width:fit-content;
      height: fit-content;
      padding: 5px 20px;
      font-size: 22px;
      color:white;
      background-color: none;
      cursor:pointer;
      background-color: transparent;
      transition: background 250ms ease;
  }
  #sign:hover{
    background-color: rgb(39, 176, 255);
  }
  