.container-sign-login{
    background: grey;
    height: 100vh;
    width: 100%;
    padding: auto;
    position: absolute;
    background: linear-gradient(90deg, #393E46 0%, #232931 100%);
}

.form-container {
  position: absolute;
   margin:5% auto;
   height: 80%;
    width: 70%;
    box-shadow: 0px 0px 4px 1px rgb(39, 176, 255);
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .close-btn {
    position: absolute;
    right:25px;
    top:25px;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
  
  .form-content-left {
    background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  .form-img {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 55%;
    height: 45%;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 50%;
    color: #fff;
  }
  
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form h1 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .form-inputs {
    margin-bottom: 1rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.9rem;
    margin-top: 1%;
    margin-bottom: 1%;

    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 50px;
    margin-bottom: 1%;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 0.9rem;
  }
  
  .form-input-btn {
    width: 80%;
    height: 6%;
    margin-top: 3%;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: rgb(39, 176, 255);
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: rgb(0, 232, 236);
    font-weight: 600;
  }
  .form-input-login a:hover {
    text-decoration: none;
    color: rgb(39, 176, 255);
    font-weight: 600;
  }
  